html, body {
    font-family: "Roboto Slab";
    width:150px;
}
div {
    width: 130px;
    height:80px;
    background-color:lightgoldenrodyellow;
    padding: 10px;
}


h1{
    text-transform: uppercase;
    font-size: 23px;
    line-height: 0.96;
    border: solid 2px black;
    overflow: visible;
    width:70px;
    height: 73px;
    padding:5px;
    padding-bottom: 0;
}