div {
    width: 300px;
    background-color: #ffb6c1;
    margin: 10px;
    padding: 10px;
}
p {
    font-family: "Roboto Slab";
    font-size: 16px;
    background-color: #f8e71c;
    line-height: 1.4;
    padding: 12px;
    margin-bottom:10px;
    height:180px;
    border: solid 10px #f5a623;
}
.last {
    margin-bottom: 0;
}